<!DOCTYPE html>
<html>
  <head>
    <title>Boxer {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/main.css">

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </head>
  <body id="login">
    <div class="container-fluid vertical-center">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="login-form" class="form-horizontal" role="form" method="post">
                            {{#if message}}
                            <div class="alert alert-warning">{{message}}</div>
                            {{/if}}
                            <div class="form-group">
                                <label for="login-email" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="email" id="login-email" placeholder="user@email.com" type="email" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="login-password" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="password" id="login-password" placeholder="password" type="password" required="true">
                                    <span class="help-block">Can't remember your password?... Tough!</span>
                                </div>
                            </div>
                            <div class="form-group last">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" name="login-submit" class="btn btn-success">Login</button>
                                    <button type="reset" class="btn btn-warning">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>